*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #ff0;
}

div{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    color: #fff;
    background-color: #f00;
    font-weight: bold;
    width: auto;
    height: auto;
    padding: 7px;
    margin: 2px;
    border: none;
    border-radius: 0.7rem;
}